<form method="post" action="/pokemons/<%=@pokemon.slug%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name<input type="text" value="<%=@pokemon.name%>" name="pokemons[name]"><br>
  Type<input type="text" value="<%=@pokemon.element%>" name="pokemons[element]"><br>
  Gender<input type="text" value="<%=@pokemon.gender%>" name="pokemons[gender]"><br>
  Nature<input type="text" value="<%=@pokemon.nature%>" name="pokemons[nature]"><br>
  Health<input type="text" value="<%=@pokemon.health%>" name="pokemons[health]"><br>
  Attack<input type="text" value="<%=@pokemon.attack%>" name="pokemons[attack]"><br>
  Defense<input type="text" value="<%=@pokemon.defense%>" name="pokemons[defense]"><br>
  Special Attack<input type="text" value="<%=@pokemon.special_attack%>" name="pokemons[special_attack]"><br>
  Special Defense<input type="text" value="<%=@pokemon.special_defense%>" name="pokemons[special_defense]"><br>
  Speed<input type="text" value="<%=@pokemon.speed%>" name="pokemons[speed]"><br>
  <input type="submit" value="submit">
</form>
