<a href="/users/<%=session[:user_slug]%>"><img class="back-arrow" src="/images/back-arrow.png" /></a>
<div class="user-container">
<% @users.each do |user| %>
    <h2 class="align-left clear-sides top-medium-spacing"><%= user.username %></h2>
    <div class="team-container">
    <% user.teams.each do |team| %>
        <br>
        <h3 class="clear-sides top-small-spacing"><%= team.name %></h3>
        <br>
        <div class="pokemon-container clear-sides">
        <% team.pokemons.each do |pokemon| %>
            <a href="/pokemons/<%= pokemon.slug %>"><div class="pokemon-card">
                <div class="pokemon-name">
                    <p><%= pokemon.name %></p>
                </div>
                <br>
                <div class="pokemon-image">
                    <img src="/images/<%= pokemon.image %>" height="125px" width="135px"/>
                </div>
            </div></a>
        <% end %>
        </div>
    <% end %>
    </div>
<% end %>
</div>