<a href="/users/<%=session[:user_slug]%>"><img class="back-arrow" src="/images/back-arrow.png" /></a>
<h2 class="sub-title top-medium-spacing bottom-medium-spacing">Team <%=@team.name%></h2>

<div class="line-break">
  <div class="top-medium-spacing">
    <% @pokemon.each do |p| %>
        <a class="team-title" href="/pokemons/<%= p.slug %>"><h2 class="team-align"><%= p.name.titleize %></h2></a>
        <div class="bottom-medium-spacing"></div>
    <% end %>
  </div>
</div>

<div class="line-break">
  <div class="top-medium-spacing">

    <a href="/pokemons/new"><button type="button" name="button" class="button"><h3>Add Pokemon</h3></button></a>

    <a href="/teams/<%=@team.slug%>/edit"><button type="button" name="button" class="button"><h3>Edit</h3></button></a>
  </div>
</div>