<h2 class="sub-title top-medium-spacing bottom-medium-spacing"><%=@user.name%></h2>

<div class="line-break">
  <% @team.each do |t| %>
    <div class="top-medium-spacing"></div>
    <a class="team-title" href="/teams/<%=t.slug%>"><h2 class="align-left"><%=t.name%></h2></a>
    <div class="top-small-spacing">
    <% t.pokemons.each do |p| %>
      <div class="top-xsmall-spacing">
      <a class="team-title" href="/pokemons/<%=p.slug%>"><h3 class="pokemon-align"><%=p.name%></h3></a>
    <% end %>
  <% end %>
  <div class="bottom-medium-spacing"></div>
</div>


<div class="line-break">
  <div class="top-medium-spacing">
      <a href="/teams/new"><button type="button" name="button" class="button"><h3>Add Team</h3></button></a>

      <a href="/users/<%=@user.slug%>/edit"><button type="button" name="button" class="button"><h3>Edit</h3></button></a>

      <a href="/users/logout"><button type="button" name="button" class="button"><h3>Log Out</h3></button></a>
  </div>
</div>